.form-section {
  display: flex;
  flex-direction: column;

  color: $color-default-white;

  background: linear-gradient(139deg, #026592 34%, #00b3ff 0%);

  @include vp-1023 {
    background: #00b3ff;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 40% 1fr;
    column-gap: 10%;

    padding: 160px 0 247px 0;
    margin: 0 auto;
    max-width: 1210px;

    @include vp-1023 {
      display: flex;
      flex-direction: column;

      padding: 45px 0 95px 0;
    }

    @include vp-767 {
      padding: 45px 0 90px 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;

    @include vp-1023 {
      margin-bottom: 11px;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 140%;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 35px;

    @include vp-1023 {
      font-size: 16px;
      line-height: 22px;

      margin-bottom: 27px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 134%;

      margin-bottom: 32px;
    }
  }

  &__image-wrapper {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 6;

    margin-top: 85px;

    @include vp-1023 {
      display: none;
    }
  }
}

.form-section--modal {
  background: #00b3ff;
  border-radius: 3px;
}

.form-section--modal .form-section__wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 3px;
}

.form-section--modal .form {
  &__label {
    margin-bottom: 20px;
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-bottom: 20px;
  }
}
